body{
    background: url("skins/403023.jpg") ;
}
#screen {
    position: absolute;
    top: 170px;
    left: 88px;
    width: 1264px;
    height: 560px;
    box-shadow:0px 100px 40px 40px rgba(0,0,0,0.070000000298023);
    background:rgba(255,255,255,0);
}
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}
#_screen {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    position: absolute;
	top: 170px;
	left: 88px;
	width: 1024px;
	height: 560px;
}
#message {
	top: 682px;
	left: 1112px;
	width: 240px;
	height: 48px;
	background:rgba(255,255,255,0);
}
#traffic_lights {
    position: absolute;
    top: 186px;
    left: 104px;
    width: 52px;
    height: 12px;
}
#fullscreen {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 12px;
    height: 12px;
}
#minimize {
    position: absolute;
	top: 0px;
	left: 20px;
	width: 12px;
	height: 12px;
}
#close {
    position: absolute;
	top: 0px;
	left: 0px;
	width: 12px;
	height: 12px;
}

#tools {
    position: absolute;
    top: 666px;
    left: 104px;
    width: 800px;
    height: 48px;
    box-shadow:0px 64px 58px 58px rgba(0,0,0,0.15000000596046);
    background:rgba(255,255,255,0);
}
#icons_24_screenshare {
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#icons_24_audiooff {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#icons_24_cameraoff {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.rectangle_7 {
    position: absolute;
	top: 666px;
	left: 224px;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	background:#ff3459;
}
.rectangle_8 {
    position: absolute;
	top: 666px;
	left: 293px;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	background:rgba(15.428388118744,217.81250506639,35.666778534651,1);
}
.rectangle_6 {
    position: absolute;
	top: 666px;
	left: 154px;
	width: 48px;
    height: 48px;
	border-radius: 8px;
	background:#ff3459;
}
#rectangle_25 {
    position: absolute;
	top: 682.5px;
	left: 1112px;
	width: 240px;
    height: 47px;
    border-bottom-right-radius:12px;
	box-shadow:0px -0.5px 0px 0px rgba(0,0,0,0.10000000149012);
	background:rgb(255, 255, 255);
}
#exit {
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.rectangle_30 {
    position: absolute;
    top: 672px;
    left: 544px;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background:rgba(255,52.062495946884,88.591212630272,1);
}
#icons_24_chat {
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.rectangle_28 {
    position: absolute;
    top: 666px;
    left: 508px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background:rgb(68, 68, 68);
}
.rectangle_31 {
    position: absolute;
	opacity:0.60000002384186;
	top: 666px;
	left: 452px;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	background:rgba(68, 68, 68, 0.6);
}
#vector {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.rectangle_9 {
    position: absolute;
	opacity:0.60000002384186;
	top: 666px;
	left: 856px;
	width: 48px;
	height: 48px;
	border-radius: 8px;
	background:rgba(58, 58, 58, 0.6);
}
#icons_24_out {
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.participants {
    position: absolute;
    top: 186px;
    left: 920px;
    width: 176px;
    height: 528px;
    background:rgba(36, 36, 36, 0);
}
#bg {
    position: absolute;
	opacity:0.60000002384186;
	top: 186px;
	left: 920px;
	width: 176px;
	height: 528px;
	border-radius: 8px;
	background:rgba(240, 240, 240, 0.8);
}
.rectangle_26 {
    position: absolute;
	opacity:0.20000000298023;
	top: 225px;
	left: 920px;
	width: 176px;
	height: 1px;
	background:rgba(0, 0, 0, 0.2);
}

#ui_thumb1 {
    position: absolute;
    top: 325px;
    left: 928px;
    width: 160px;
    height: 90px;
}
#ui_thumb2 {
    position: absolute;
    top: 425px;
    left: 928px;
    width: 160px;
    height: 90px;
}
#ui_thumb3 {
    position: absolute;
    top: 525px;
    left: 928px;
    width: 160px;
    height: 90px;
}
#ui_thumb4 {
    position: absolute;
    top: 625px;
    left: 928px;
    width: 160px;
    height: 90px;
}
#ui_thumb5 {
    border-top-right-radius: 12px;
    position: absolute;
    top: 170px;
    width: 242px;
    left: 1111px;
    height: 520px;
}
#ui_thumb {
    position: absolute;
	top: 224px;
	left: 928px;
	width: 160px;
	height: 90px;
}
#icons_16_attach {
	top: 50%;
    left: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.__p__message___ {
	top: 750px;
	left: 1300px;
	width: 128px;
	height: 26px;
	overflow: hidden;
	font-size: 14px;
	text-align: left;
	color:#f6f6f6;
}
#icons_16_send {
	top: 698px;
	left: 1320px;
	width: 16px;
	height: 16px;
}



